<% include ../layout/head %>

<h2><%= items.length %> saved items</h2>

<% for (var i = 0; i < items.length; i++) { %>

<div class='media'>
  <div class='pull-left'>
    <img src='<%= items[i].image %>' class='media-object' />
  </div>
  <div class='media-body'>
    <h4 class='media-heading'><%= items[i].title %></h4>
    <em>$<%= items[i].price %></em>
    <p>
      <span class='glyphicon glyphicon-link'></span>
      <a href='<%= items[i].url %>' target='_blank'><%= items[i].hostname %></a>
    </p>
  </div>
</div>

<% } %>

<% include ../layout/foot %>
