<% include ../layout/head %>

<form action='/items' method='post' role='form'>

  <div class='media'>

    <div class='pull-left'>
      <input type='hidden' name='image' value='<%= item.image %>' />
      <img src='<%= item.image %>' width='200' class='media-object' />
    </div>

    <div class='media-body'>

      <div class='media-heading'>
        <input type='text' name='title' placeholder='Title' value='<%= item.title %>' class='form-control' />
      </div>
      <div class='form-group'>
        <input type='hidden' name='url' value='<%= item.url %>' />
        <input type='hidden' name='hostname' value='<%= item.hostname %>' />
        <span class='glyphicon glyphicon-link'></span>
        <a href='<%= item.url %>' target='_blank'><%= item.hostname %></a>
      </div>
      <div class='form-group'>
        <div class='input-group'>
          <span class='input-group-addon'>$</span>
          <input type='text' name='price' placeholder='0.00' value='<%= item.price %>' class='form-control' />
        </div>
      </div>

      <button type='submit' class='btn btn-default'>Save Item</button>

    </div>

  </div>

</form>

<% include ../layout/foot %>
